src/main/mule/globalweatherapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="globalweatherapi-httpListenerConfig">
        <http:listener-connection host="${http.listener.host}" port="${http.listener.port}" connectionIdleTimeout="${http.timeout}"/>
    </http:listener-config>
    <apikit:config name="globalweatherapi-config" api="globalweatherapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="global-weather-web_service_consumer_config" doc:name="Web Service Consumer Config" doc:id="daad5f71-5616-4c60-9a24-e2c0d8acfc99" >
		<wsc:connection wsdlLocation="global-weather.wsdl" service="${globalweather.soap.service}" port="${globalweather.soap.port}" address="${globalweather.soap.address}" />
	</wsc:config>
	<configuration-properties doc:name="Configuration properties" doc:id="36779888-90a5-4c5d-955e-ee7392d6a5c9" file="globalweatherConfig.properties" />
	<flow name="globalweatherapi-main">
        <http:listener config-ref="globalweatherapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="globalweatherapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="cd2ddf6c-6d92-46da-965f-b2101522160a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
message: error.description]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="3185f5c7-ddb4-4558-9c12-df9190c0e46c">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
message: error.description ]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="51dc66b1-0e82-4d3f-9780-155b0413d29f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
message: error.description ]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="cadd33b3-5588-439a-a52c-6c465f95a186">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
message: error.description ]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="da90ca49-f6cb-4998-8415-2582bacdd157">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
message: error.description ]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="6b8569cb-ad26-49fa-9d1c-3cd60a5c4160">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
message: error.description ]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="globalweatherapi-console">
        <http:listener config-ref="globalweatherapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="globalweatherapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="08b144c3-501a-4595-b70c-1d5ab54f8054">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
message: error.description ]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\getCitiesByCountry:globalweatherapi-config">
		<ee:transform doc:name="Transform Message" doc:id="51ec80d2-55b2-4083-bddc-a1de4c4f7a7d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetCitiesByCountry: {
		ns0#CountryName: attributes.queryParams.countryName
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="9dabaea2-57c9-44f4-a26c-3e7dbfb986d6" config-ref="global-weather-web_service_consumer_config" operation="${globalweather.getcities.soap.operation}"/>
		<ee:transform doc:name="Transform Message" doc:id="ea93e57b-a14d-47ea-b403-e8dfe1031e91" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
	payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\getWeather:globalweatherapi-config">
		<ee:transform doc:name="Transform Message" doc:id="ec7fe6e3-7757-4dcd-981b-8f8f3e6359d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetWeather: {
		ns0#CityName: attributes.queryParams.cityName,
		ns0#CountryName: attributes.queryParams.countryName
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="e008fec6-6e57-4fde-8771-e3ea23fa00ae" config-ref="global-weather-web_service_consumer_config" operation="${globalweather.getweather.soap.operation}"/>
		<ee:transform doc:name="Transform Message" doc:id="d3a888d7-472e-4052-8cac-1c06e1804bc0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
	payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
